{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
            label {
            display: block;
            margin-bottom: 10px;
        }
        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 15px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
        </style>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Batuhan Uysal CV</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <!-- responsive style -->
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}"  />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container d-block">
          <div class="main_nav_menu">
            <div class="fk_width">
              <div class="custom_menu-btn">
                <button onclick="openNav()">
                  <span class="s-1"> </span>
                  <span class="s-2"> </span>
                  <span class="s-3"> </span>
                </button>
              </div>
              <div id="myNav" class="overlay">
                <div class="overlay-content">
                  <a class="" href="index.html">Home <span class="sr-only">(current)</span></a>
                  <a class="" href="about.html">About </a>
                  <a class="" href="gallery.html">Gallery </a>
                  <a class="" href="mygames.html">My Games </a>
                  <a class="" href="contact.html">Contact </a>
                </div>
              </div>
            </div>
            <a class="navbar-brand" href="index.html">
              <span>
                Batuhan Uysal
              </span>
            </a>
            <div class="user_option">
              <!--<a href="#">
                login
              </a>-->
              <form class="form-inline ">
                <button class="btn  nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- slider section -->
    <section class=" slider_section position-relative" >
      <div class="container-fluid">
        <div class="row slider-row">
          <div class="col-lg-3 offset-lg-1">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="detail-box">
                    <h1>
                      Batuhan <br />
                      Uysal
                    </h1>
                    <p>
                      Unity Game Developer - Software Engineer
                    </p>
                    <div>
                      <a href="contact.html">
                        Contact
                      </a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="detail-box">
                    <h1>
                      Batuhan <br />
                      Uysal
                    </h1>
                    <p>
                      Unity Game Developer - Software Engineer
                    </p>
                    <div>
                      <a href="about.html">
                        About Me
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel_control-box">
                <div class="carousel_btn-container">
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <!--<ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active li_one">01</li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1" class="li_two">02</li>
                  <li class="ol_design"></li>
                </ol>-->
              </div>
            </div>
          </div>
          <div class="col-lg-8 px-0">
            <div class="img-box">
              <img src="../static/images/metr2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding" style="margin-top: 30px;">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Me
              </h2>
              <p>
                Hello, my name is Batuhan Uysal. I am a Unity Game developer. I am a graduate of Piri Reis University information systems engineering.
              </p>
              <a href="about.html">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="img-box">
      <div class="play_btn">
        <a href="https://www.youtube.com/watch?v=J7TIJXNsMko" target="_blank">
          <img src="../static/images/play.png" alt="" />
        </a>
      </div>
      <img src="../static/images/myportfolio2.png" class="about-img" alt="" />
    </div>
  </section>

  <!-- end about section -->

  <!-- gallery section -->
  <section class="gallery_section layout_padding-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 ml-auto">
          <div class="heading_container">
            <h2>
              My Portfolio Gallery
            </h2>
            <p>
              Here it is some of images about my projects.
            </p>
            <a href="gallery.html">
              See More
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery_container">
      <div class="gallery_bg">
        <img src="../static/images/gallery-bg.png" alt="" />
      </div>
      <div class="container">
        <div class="gallery_box">
          <div class="box b1">
            <div class="img-box">
              <img src="../static/images/braingym.webp" alt="" />
              <h5>
                
              </h5>
            </div>
          </div>
          <div class="box b2">
            <div class="img-box">
              <img src="../static/images/prj3.png" alt="" />
              <h5>
                
              </h5>
            </div>
            <div class="img-box">
              <img src="../static/images/prj4.png" alt="" />
              <h5>
                
              </h5>
            </div>
          </div>
          <div class="box b3">
            <div class="img-box">
              <img src="../static/images/prj5.png" alt="" />
              <h5>
                
              </h5>
            </div>
            <div class="img-box">
              <img src="../static/images/prj6.png" alt="" />
              <h5>
                
              </h5>
            </div>
          </div>
          <div class="box b4">
            <div class="img-box">
              <img src="../static/images/prj7.png" alt="" />
              <h5>
                
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end gallery section -->

  <!-- blog section -->

  <section class="blog_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                My Games
              </h2>
              <p>
                My completed or nearly completed games
              </p>
              <a href="mygames.html">
                Review
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blog_container">
      <div class="blog_bg">
        <img src="../static/images/gallery-bg.png" alt="" />
      </div>
      <div class="container" >
        <div class="blog_box">
          <div class="row">
            <div class="col-md-6" onclick="window.open('https://www.linkedin.com/feed/update/urn:li:activity:7186369847730049026/', '_blank');" style="cursor: pointer;">
              <div class="box b1" >
                <div class="img-box">
                  <img src="../static/images/küçükresim.png" alt="" />
                </div>
                <div class="blog-detail">
                  <div class="blog_title">
                    <h5>
                      Match 3
                    </h5>
                    <div class="blog_post">
                      <h6>
                        Developed by: Batuhan Uysal
                      </h6>
                      <h6>
                        14-04-2024
                      </h6>
                    </div>
                  </div>
                  <p>
                    A match-3 game that I developed as a task for a company. This game, which basically consists of 5 levels, has been developed so that levels can be added infinitely easily.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6" onclick="window.open('https://play.google.com/store/apps/details?id=com.staticrivergames.braingym', '_blank');" style="cursor: pointer;">
              <div class="box b2">
                <div class="img-box">
                  <img src="../static/images/braingym.webp" alt="" />
                </div>
                <div class="blog-detail">
                  <div class="blog_title">
                    <h5>
                      Brain GYM+
                    </h5>
                    <div class="blog_post">
                      <h6>
                        Developed by: Batuhan Uysal
                      </h6>
                      <h6>
                        16-03-2023
                      </h6>
                    </div>
                  </div>
                  <p>
                    It is an intelligence development game where players can exercise their brains in a regular and fun way and play various game modes that appeal to different parts of the brain.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end blog section -->

 {% if message_name %}
  <!-- client section -->
<center>
    <h2>
        Thanks {{ message_name }} for your message.
    </h2>
    <p>
        I have recived your message. I will get back to you as soon as possible.
    </p>
</center>
  {% endif %}

  <section class="client_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 ml-auto">
          <div class="heading_container">
            <h2>
              Contact Me
            </h2>
            <p>
              You can contact me from the section below. Do not forget to add your contact information to your message.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="client_container">
      <div class="client_bg">
        <img src="../static/images/gallery-bg.png" alt="" />
      </div>
      <div class="container">
        <div class="client_box">
          <div class="row">
            <div class="col-lg-6">
              <div class="box b1">

                   <form action="{% url "contact" %}" method="post">
                       {% csrf_token %}
                     <label for="fname">Name</label>
                       <input type="text" id="fname" name="firstname" placeholder="Name" required>

                        <label for="mail">Mail</label>
                        <input type="text" id="mail" name="mail" placeholder="Mail" required>

                        <label for="message">Message</label>
                        <textarea id="message" name="message" placeholder="Message." style="height:200px" required></textarea>

                        <input type="submit" value="Submit">
                    </form>

              </div>
            </div>
            <div class="col-lg-6">
              <div class="box b2">
                <div class="camera_img-box">
                  <img src="../static/images/lightning.png" alt="" />
                    <h1 style="margin-top: 10px; margin-left: 120px; color: dimgrey;"> Static River </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- info section -->

  <section class="info_section " style="margin-top: 20px;">
    <div class="info_container layout_padding-top">
      <div class="container">
        <div class="heading_container">
          <h2>
            Contact Me
          </h2>
        </div>
        <div class="info_main">
          <div class="row">
            <div class="col-md-4 col-lg-3">
              <div class="info_contact ">
                <a href="#" class="link-box">
                  <div class="img-box">
                    <img src="../static/images/location.png" alt="" />
                  </div>
                  <div class="detail-box">
                    <h6>
                      Location - Istanbul
                    </h6>
                  </div>
                </a>
                <a href="#" class="link-box">
                  <div class="img-box">
                    <img src="../static/images/mail.png" alt="" />
                  </div>
                  <div class="detail-box">
                    <h6>
                      se.batuhan.uysal@gmail.com
                    </h6>
                  </div>
                </a>
                <a href="#" class="link-box">
                  <div class="img-box">
                    <img src="../static/images/call.png" alt="" />
                  </div>
                  <div class="detail-box">
                    <h6>
                      Call +90 543 644 87 86
                    </h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2 col-lg-3">
              <div class="info_link-box">
                <ul>
                  <li class=" ">
                    <a class="" href="index.html">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="">
                    <a class="" href="about.html">About </a>
                  </li>
                  <li class="">
                    <a class="" href="gallery.html">Gallery </a>
                  </li>
                  <li class="">
                    <a class="" href="mygames.html">Blog </a>
                  </li>
                  <li class="">
                    <a class="" href="contact.html">Testimonial </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="social_box">
                <a href="#">
                  <img src="../static/images/facebook.png" alt="" />
                </a>
                <a href="#">
                  <img src="../static/images/twitter.png" alt="" />
                </a>
                <a href="https://www.linkedin.com/in/batuhan-uysal-39596021a/">
                  <img src="../static/images/linkedin.png" alt="" />
                </a>
                <a href="https://www.instagram.com/ncrxbatu/">
                  <img src="../static/images/instagram.png" alt="" />
                </a>
                <a href="https://www.youtube.com/channel/UCWu4gv0fZsGjudgjtmjy14g">
                  <img src="../static/images/youtube.png" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="footer_section ">
    <div class="container">
      <p>
        
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <script src="../static/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="../static/js/custom.js"></script>
</body>

</html>